:root {
	--bg: #1E1E1E;
	--color-0: #212121;
	--color-1: #242424;
	--color-2: #262626;
	--color-3: #2a2a2a;
	--color-4: #363636;
	--color-5: #3f3f3f;
	--color-6: #555555;
	--color-7: #666666;
	--color-8: #999999;
	--color-9: #bababa;
	--fg: #dadada;
	--accent: #7050E6;
	--anim-speed: 0.2s;
	--global-radius: 5px;
}

* {
	font-size: 14px;
}

html{
	background-color: var(--bg);
	color: var(--fg);
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	box-shadow: inset -1300px 0px 300px 0px var(--bg);
	background-image: url('../img.png');
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
}

.container_h {
	display: flex;
	justify-content: var(--position, center);
	background-color: transparent;
}

#last_element_information {
	margin-right: 20px;
}

.container_v {
	display: flex;
	flex-direction: column;
	align-items: var(--position, center);
	background-color: transparent;
}

.box {
	background-color: var(--color-6);
	margin: 4px;
	padding: 4px;
	border-radius: var(--global-radius);
}

.menu_background {
	background-color: var(--color-6);
	border-radius: var(--global-radius);
	margin: 1px;
}

#section_part {
	border-radius: var(--global-radius) 0px 0px var(--global-radius);
}

#content_part {
	border-radius: 0px var(--global-radius) var(--global-radius) 0px;
}

.information_button {
	border: none;
	position: relative;
	background-color: transparent;
	border-radius: var(--global-radius);
	color: var(--color-5);
	padding: 3px;
	margin: 15px 6px 6px 6px;
	transition: color var(--anim-speed) linear,
				border-bottom var(--anim-speed) linear;
}

.information_button::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: var(--fg);
	transform: scaleX(0);
	transform-origin: bottom center;
	transition: transform var(--anim-speed) ease;
}

.information_button:hover::after {
	transform: scaleX(1);
}

.information_button:hover {
	color: var(--fg);
}

.collapsed_menu {
	display: none;
	color: var(--color-6);
	transform: scale(1.5, 1.5);
	border: none;
	background-color: transparent;
	padding: 3px;
	margin: 6px;
	border-radius: var(--global-radius);
	transition: background-color var(--anim-speed) ease,
				color var(--anim-speed) ease;
}

.collapsed_menu:hover {
	color: var(--bg);
	background-color: var(--color-6);
}

.info_me {
	margin: 10px;
}

@media (max-width: 768px)
{
	.information_button {
		display: none;
	}

	.collapsed_menu {
		display: block;
		cursor: pointer;
	}
}
